p{
    color: rgb(193, 39, 39);
    margin: 0;
    padding: 0;
  }
  
  body{
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: transparent;
  }
  
  form{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }
  
  h4{
    font-weight:lighter;
    font-size: 20px;
    margin: 3%;
  
  }
  
  label{
    display: flex;
    justify-content: center;
  }
  
  input{
    padding: 2%;
  }
  
  .dateInput{
    display: flex;
    justify-content: center;
  }
  
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .formInput input, .evDesc{
    margin: 1em;
    padding: 3%;
    display: block;
    margin: 1%;
    transition: border-color, background-color 1s;
    outline: 0;
    border-style: solid;
    border-radius: 10%;
    border-color: white;
    border-bottom-color:rgba(110, 112, 202, 0.913);
    
  }
  
  .formInput input:focus, .evDesc:focus{
    border-color: rgba(195, 196, 244, 0.704);
    background-color: rgba(211, 212, 244, 0.704);;
    
  }
  
  .evDesc{
    height: 7em;
  }
  
  
  .dates{
    margin: 20%;
  }
  .subButton{
    border-style: solid;
    border-radius: 10%;
    border-color: white;
    padding: 5%;
    background-color: rgba(195, 196, 244, 0.704);
    transition: background-color 1s;
    width: 60%;
  }
  
  .subButton:hover{
    background-color: rgba(124, 125, 207, 0.913);
  }
  
  .winScreen{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
